<a href="https://colab.research.google.com/github/sindhu-taripireddy/python/blob/main/Python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello,world")

hello,world

In [ ]:
a=int(input())
b=int(input())
print(a+b)

7
4
11

In [ ]:
a,b=(6,3)
print(a+b)

9

In [ ]:
a=int(input())
sqr_root=a**0.5
print(sqr_root)

5
2.23606797749979

In [ ]:
num=int(input())
num_sqr=num**0.5
print(num_sqr)

2
1.4142135623730951

In [ ]:
a=int(input())
cube_root=a**0.3
print(cube_root)

6
1.711769859409705

In [ ]:
a=int(input())
b=int(input())
area=0.5*a+b
print("area of triangle",area)

2
6
area of triangle 7.0

In [ ]:
a=int(input())
b=int(input())
c=int(input())
s=(a+b+c/2)
area=(s*(s-a)*(s-b)*(s-c))*0.5
print(area)

2
3
4
210.0

In [ ]:
import cmath
a=int(input())
b=int(input())
c=int(input())
d=b**2-4*a*c
sol1=(-b-cmath.sqrt(d))/(2*a)
sol2=(-b+cmath.sqrt(d))/(2*a)
print(sol1)
print(sol2)

5
7
3
(-0.7-0.33166247903553997j)
(-0.7+0.33166247903553997j)

In [ ]:
a=int(input())
b=int(input())
a,b=b,a
print(a,b)

5
7
7 5

In [ ]:
a=int(input())
b=int(input())
temp=a
a=b
temp=b
b=a
print(b,a)

6
7
7 7

In [ ]:
import random
print(random.randint(7,16))

13

In [ ]:
Kilometre to miles:1km=0.62137

In [ ]:
km=int(input())
conv_fac=0.62137
miles=km*conv_fac
print(miles)

4
2.48548

Celsius to fahrenheit
(1 celsius=1.8fahrenheit) And the freezing water is 32

In [ ]:


celsius=int(input())
fahrenheit=(celsius*1.8)+32
print(fahrenheit)

6
42.8

In [ ]:


num=float(input())
if num>0:
   print("positive")
elif num==0:
   print("zero")
else:
   print("negative")

4
positive

Num even or odd

In [ ]:
num=int(input())
if num%2==0:
   print("even")
else:
   print("odd")

5
odd

leap year

In [ ]:
year=int(input())
if(year%400==0)or((year%4==0)and(year%100!=0)):
  print("leap year")
else:
  print("not leap year")

2027
not leap year

In [ ]:
#largest among three
a=int(input())
b=int(input())
c=int(input())
if a>=b and a>=c:
   print(a)
elif b>=a and b>=c:
   print(b)
else:
   print(c)

2
3
9
9

In [ ]:
#prime number or not
a=int(input())
if a%2!=0 and a//a==1:
   Print("prime")
else:
   print("not prime")

6
not prime